.art-content {
  margin-top: 25px;
  width: 1000px;
  min-height: 110px;
}

.art-content>.news-title>h3 {
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 18px;
}

.art-content>.news-title>h3>a {
  color: #000;
}

.art-content>.news-time {
  margin: 15px 0 15px 0;
  color: #999;
}

.art-content>.news-cont>p {
  width: 1000px;
  height: 80px;
  overflow: hidden;
  white-space: wrap;
  text-overflow: clip;
  text-indent: 2em;
  font-size: 16px;
}

.upload {
  position: absolute;
  top: 140px;
  right: 180px;
  width: 70px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #00A1D6;
  border-radius: 5px;
}
.upload:hover{
 opacity: .8;
}